{% extends 'base/base.html' %}

{% block titulo %}
    Documentación
{% endblock %}

{% block nombre %}
    Documentación
{% endblock %}

{% block contenido %}
    <div class="blackblock">
        <br/>
        <h4>
            Documentación
        </h4>
        <br/>
        <ul>
            <h6>
                <h5>Páginas utilizadas en la investigación:</h5><br/><br/>
                <li><h6>[Fuente 1] Kern Pharma. (14 de noviembre de 2018). Todo lo que tienes que saber sobre las enfermedades neuromusculares. Recuperado el 20 de octubre de 2022 de: <a href="https://www.kernpharma.com/es/blog/todo-lo-que-tienes-que-saber-sobre-las-enfermedades-neuromusculares">https://www.kernpharma.com/es/blog/todo-lo-que-tienes-que-saber-sobre-las-enfermedades-neurom usculares</a></h6></li><br/>
                <li><h6>[Fuente 2] Quiroga Subirana, P. (26 de agosto de 2020). Qué son las enfermedades neuromusculares (EN). Top Doctors. Recuperado el 20 de octubre de 2022 de: <a href="https://www.topdoctors.es/diccionario-medico/enfermedades-neuromusculare">https://www.topdoctors.es/diccionario-medico/enfermedades-neuromusculares</a></h6></li><br/>
                <li><h6>[Fuente 3] Sunrise Medical. (24 de enero de 2020). Enfermedades Neuromusculares: Cuál es su origen y sus características. Recuperado el 21 de octubre de 2022 de: <a href="https://www.sunrisemedical.es/blog/enfermedades-neuromusculares">https://www.sunrisemedical.es/blog/enfermedades-neuromusculares</a></h6></li><br/>
                <li><h6>[Fuente 4] Barros, G; Moreira, I; Ríos, R. (5 de julio de 2018). Tratamiento – rehabilitación y manejo global de las enfermedades neuromusculares. Elsevier. Recuperado el 21 de octubre de 2022 de: <a href="https://www.elsevier.es/es-revista-revista-medica-clinica-las-condes-202-articulo-tratamiento-rehabi litacion-manejo-global-S0716864018301032">https://www.elsevier.es/es-revista-revista-medica-clinica-las-condes-202-articulo-tratamiento-rehabi litacion-manejo-global-S0716864018301032</a></h6></li><br/>
                <h5>Páginas utilizadas en la programación:</h5><br/><br/>
                <li><h6>Solano, G. (2019). Visión por computadora. OMES. Recuperado el 21 de noviembre de 2022 de:<a href="https://omes-va.com">https://omes-va.com</a></h6></li><br/>
                <li><h6>Oscar Alejandro Flavio García. (2016). Curso gratuito de Flask. Código Facilito. Recuperado el 22 de octubre de: <a href="https://codigofacilito.com/cursos/flask">https://codigofacilito.com/cursos/flask</a></h6></li><br/>
                <li><h6>Jacobson, B. (25 de abril de 2022). How to use Vosk. YouTube. Recuperado el 17 de septiembre de 2022 de: <a href="https://www.youtube.com/watch?v=3Mga7_8bYpw&t=3s">https://www.youtube.com/watch?v=3Mga7_8bYpw&t=3s</a></h6></li><br/>
                <li><h6>Cabrera Benito, L. (8 de julio de 2019). Conversor de texto a voz con Python y gTTS. YouTube. Recuperado el 17 de septiembre de 2022 de:<a href="https://www.youtube.com/watch?v=8clVXn7qwqg"> https://www.youtube.com/watch?v=8clVXn7qwqg</a></h6></li><br/>
                <li><h6>Vivó Hernando Roberto Agustín (UPV). (12 de octubre de 2013). Giros en 3D. YouTube. Recuperado el 7 de noviembre de 2022 de: <a href="https://www.youtube.com/watch?v=y0SvyZnMeog">https://www.youtube.com/watch?v=y0SvyZnMeog</a></h6></li><br/>
                <li><h6>Felix. (S.F). Connect and Control WS2812 RGB LED Strips via Raspberry pi. Tutorials Raspberry pi<a href="https://tutorials-raspberrypi.com/connect-control-raspberry-pi-ws2812-rgb-led-strips/"> https://tutorials-raspberrypi.com/connect-control-raspberry-pi-ws2812-rgb-led-strips/</a></h6></li><br/>
                <li><h6>Luis (Innova domotics). (7 de junio de 2021). Control de Servo Motores utilizando el Módulo PCA9685. YouTube. Recuperado el 26 de agosto de 2022 de: <a href="https://www.youtube.com/watch?v=vVUlutdJMlc">https://www.youtube.com/watch?v=vVUlutdJMlc</a></h6></li><br/>
                <li><h6>Keyestudio Wiki. (Se actualiza muchas veces). KS0077 (78,79) Super Learning kit for Arduino. Recuperado el 18 de junio de 2022 de: <a href="https://wiki.keyestudio.com/KS0077">https://wiki.keyestudio.com/KS0077</a></h6></li><br/>
                <li><h6>Academia Coder. (2019). Curso Python para principiantes. YouTube. Recuperado en 2022 de:<a href="https://www.youtube.com/playlist?list=PLs-v5LWbw7JkIz8145zh7_ioAnXON_cMj"> https://www.youtube.com/playlist?list=PLs-v5LWbw7JkIz8145zh7_ioAnXON_cMj</a></h6></li><br/>
                <li><h6>Straight Coding. (27 de enero de 2021). Python Socket TCP Chat en consola (CMD). Recuperado el 29 de diciembre de 2022 de: <a href="https://www.youtube.com/watch?v=FTdii0o5vBM">https://www.youtube.com/watch?v=FTdii0o5vBM</a></h6></li><br/></h6></ul>
        <br/>
    </div>
{% endblock %}