{% extends 'base/base.html' %}

{% block titulo %}
    Descargas
{% endblock %}

{% block nombre %}
    Descargas
{% endblock %}

{% block contenido %}
    <nav>
    <div class="download">
        <a href="https://github.com/CarlosCaAl-UPV/RPi4_Robot_Code/archive/refs/tags/v1.0.zip" download=""> Python </a>
    </div>
    <div class="download">
        <a href="https://github.com/CarlosCaAl-UPV/RPi4_Robot_Code/archive/refs/tags/v2.0.0.zip" download=""> C++ </a>
    </div>
    </nav>
{% endblock %}